<div id="refund" class="container-fluid no-pad">
  
  <div class="span12 details">
    
    <div class="container">
    <h2 class="p25">{{ page.title }}</h2> <br><br>{{ page.content }}</div>
  </div>
  <br /><br />
  
</div>